.cards-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0px;
}
.container_multi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 40px;
  padding: 20px;
}
.logo-image {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 150px;
  justify-content: flex-start;
  align-items: flex-start;
}
.card-container_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5763a5;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 90%;
}
.card-container {
  display: flex;
  flex-direction: column;
  background-color: #5763a5;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 90%;
  padding-left: 18px;
  padding-right: 18px;
}
.small-container {
  background-color: #454f84;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 50%;
  padding-left: 10px;
  border-radius: 15px;
}
.heading {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
  margin-left: 20px;
  font-weight: 400;
}
.image {
  background-color: #f8fafc;
  height: 30px;
  width: 30px;
  margin-right: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.type-input {
  height: 30px;
  width: 80%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 2px white solid;
}
.buttn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 94px;
}
.buttn {
  color: #ffffff;
  background-color: #0b69ff;
  height: 30px;
  width: 70px;
  border-width: 0px;
  border-radius: 3px;
}
.image_2 {
  height: 300px;
  width: 300px;
  margin: 40px;
  padding: 20px;
}
.manager {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.zero {
  color: white;
  background-color: transparent;
  font-size: 12px;
  padding: 7px;
  width: 25px;
  border-radius: 9px;
  border: 1px white solid;
}
.line {
  border: 2px #c3caea solid;
  color: white;
  width: 98%;
}
.below-line {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
}
.show-pass {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.head {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.heading_1 {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  margin-left: 20px;
  font-weight: 400;
}
.check {
  height: 18px;
  width: 18px;
}
.show {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.type-input_1 {
  height: 30px;
  width: 80%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 2px white solid;
}
.image_1 {
  background-color: #f8fafc;
  height: 30px;
  width: 30px;
  margin-right: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.head_1 {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
}
.show-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
